/* General */
a {
    color: #009900;
}

a:hover {
    color: #006335;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #009900;
}


/* Navigation */
.ak-masterhead {
    background-color: #666666;
    display:flex;
}

.ak-nav .active{
    color: #fff;
    text-decoration: underline;
}

.ak-nav li {
    position: relative;
    display: inline-block;
    padding: 2.5em;
    font-weight: 500;
}
.ak-nav a:hover {
    color: #ccebcc;
}

.ak-nav a {
    color: #fff;
}

.ak-nav-logo {
    background-image: url("http://localhost/acf/wp-content/uploads/2019/02/aklogo-300x110.png");
    background-size: contain;
        
}

.ak-nav > li.ak-nav-logo {
    padding-left: 5em;
    padding-right: 5em;
        
}
.ak-nav-logo a{
    color: rgba(255,255,255,0);   
}

.ak-nav-logo a:hover{
    color: rgba(255,255,255,0);   
}

/* Footer */
.ak-footer {
    background-color: #666666;
    display:flex;
    color: #fff;
    padding: 1.5em; 
}
.ak-footer a {
    color: #fff;
}


/* Home header */
.ak-header {
    text-align: center;
    background-image: url("http://localhost/acf/wp-content/uploads/2019/02/banner.png");
    height: 80vh;
    display:flex;
    
}
.ak-title {
    background-color: rgba(255,255,255,0.7);
    padding: 1em;
    border-radius: 10px; 

}

/* search results */
.ak-reise-img {
    width:100%; 
}

/* Buttons */
.ak-button {
   margin: 1.5em;
   padding: 0.5em 1em;
   text-align: center;
   border-radius: 10px;
   background-color: #009900;
   color:#fff;
}

.ak-button:hover {
   background-color: #006335;
   color:#fff;
}

/* Reise Seite */
.ak-reise-img-full {
   width:100vw;
   height: 80vh;
   object-fit: cover;
}

.reise-title {
   font-family: "Garamond";
   font-style: italic;
   color: #009900;
   font-size: 2.5em;
}

.reise-info {
    background-color: #a7d5bb;
}

.tagsubline {
    font-family: "Garamond";
    font-style: italic;
    font-size: 1.5em;
    color: #009900;
 
}